<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>

        <!-- .php uzantısını gizle -->
        <rule name="Remove PHP Extension" stopProcessing="true">
          <match url="^([a-zA-Z0-9_-]+)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}.php" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.php" />
        </rule>

        <!-- Özel yönlendirmeler -->
        <rule name="Hakkimizda" stopProcessing="true">
          <match url="^hakkimizda$" />
          <action type="Rewrite" url="/content/renovate4/about.php" />
        </rule>

        <rule name="Projelerimiz" stopProcessing="true">
          <match url="^projelerimiz$" />
          <action type="Rewrite" url="/content/renovate4/realizations.php" />
        </rule>

        <rule name="Hizmetlerimiz" stopProcessing="true">
          <match url="^hizmetlerimiz$" />
          <action type="Rewrite" url="/content/renovate4/services-pricing.php" />
        </rule>

        <rule name="Iletisim" stopProcessing="true">
          <match url="^iletisim$" />
          <action type="Rewrite" url="/content/renovate4/contact.php" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>
